<?xml version="1.0" encoding="utf-8"?>
<!--
*
* Licensed under the Apache License, Version 2.0 (the "License"); you may
* not use this file except in compliance with the License. You may obtain
* a copy of the License at
* http://www.apache.org/licenses/LICENSE-2.0
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.mangelow.balance"
          android:versionCode="3"
          android:versionName="0.12">

    <uses-sdk
            android:maxSdkVersion="16"
            android:minSdkVersion="8"
            android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
        <service
                android:name="USSDService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.android.ussd.IExtendedNetworkService"/>
            </intent-filter>
        </service>

        <receiver
                android:name="Receiver"
                android:enabled="true"
                android:exported="false"
                android:label="Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="de.mangelow.balance.Receiver.ACTION_WIDGET_REFRESH"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".Widget"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_DELETED"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_provider"/>
        </receiver>

        <activity
                android:name=".Configure"
                android:configChanges="orientation|keyboard|keyboardHidden"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>